.Cover {
    margin: auto;
    border-radius: 20px;
    max-height: 415px;
    width : 100%;
}

/*//////////////////////////////////////////////////////*/

.Presentation {
    padding : 10px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Title h1{
    color : #FF6060;
    font-weight : 500;
    font-size: 36px; 
    line-height: 51px;
}

.Title p {
    font-size: 18px; 
    line-height: 25px;
    font-weight : 500;
}

.Author {
    display: flex;
    flex-direction: row;
    align-items: center;
    width : 15%;
}

.Author h3{
    color : #FF6060;
    font-size: 18px;
    max-width : 70px;
}

.Author img {
    border-radius: 50px;
    max-width: 70px;
}

/*//////////////////////////////////////////////////////*/

.Ratings {
    padding : 10px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Tags {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    width : 45%;
    font-family: "Montserrat";
    font-weight: 700;
}

.Stars {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width : 20%;
}

/*//////////////////////////////////////////////////////*/

.Description {
    padding : 10px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
}

.Collapse .content {
    padding : 10px;
}

.Collapse .content p {
    padding : 10px 0px;
}