.lightbox-container {
    position: relative;
    height: 500px;
    overflow: hidden;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lightbox-container img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.arrow-left, .arrow-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.arrow-left {
    left: 20px;
}

.arrow-right {
    right: 20px;
}

.ShowIndex {
    position: absolute;
    bottom : 20px;
    left: 50%;
    color: white;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
}

@media screen and (max-width: 960px) {
    .lightbox-container {
        height : 255px;
        width: 90%;
        border-radius: 20px;
        margin: auto;
    }
    .arrow-left, .arrow-right {
        height: 50px;
    }
}