.lightbox-container {
    position: relative;
    height: 500px;
    overflow: hidden;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lightbox-container img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.arrow-left, .arrow-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.arrow-left {
    left: 20px;
}

.arrow-right {
    right: 20px;
}