.Collapse {
    width : 40%;
}

.Collapse .Clickable {
    background-color: #ff6060;
    color : white;
    border-radius : 10px;
    padding : 5px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.Collapse h3 {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
}

.hidden {
    display: none;
}

.upsideDown {
    transform: rotate(180deg);
}