.Gallery {
    margin-top: 10px; 
    margin-left: 20px;
    margin-bottom: 100px;
    margin-right: 20px;
    background-color: #F6F6F6;
    border-radius: 20px;
    display : flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}


