.Thumb {
    width: 340px;
    height : 340px;
    border-radius: 10px;
    overflow: hidden;
    z-index : 0;
    position : relative;
}

.Thumb img {
    height: 340px;
    object-fit: cover;
}

.Gallery a h3 {
    color : white;
    text-decoration: none;
    position : absolute; 
    z-index : 1;
    width : 200px;
    bottom : 20px;
    left : 20px;
    font-family: "Montserrat";
    font-weight : 700;
    font-size: 18px;
    line-height: 25px;
}

@media screen and (max-width: 960px) {
    .Thumb {
        min-width: 540px;
        margin: 20px 0;
        img {
            width: 100%;
        }
    }
}
