.Thumb {
    width: 240px;
    height : 240px;
    margin : 10px;
    border-radius: 20px;
    overflow: hidden;
    z-index : 0;
    position : relative;
}

.Thumb img {
    height: 240px;
    object-fit: cover;
}

.Gallery a h3 {
    color : white;
    text-decoration: none;
    position : absolute; 
    z-index : 1;
    width : 200px;
    bottom : 20px;
    left : 20px;
    font-family: "Montserrat";
    font-weight : 700;
    font-size: 18px;
    line-height: 25px;
}

@media screen and (max-width: 768px) {
    .Thumb {
        width: 90%;
        margin: 20px;
    }
}
